#allDishesSection{
    height: auto;
    width: 100%;
}

#aDSImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}

.aDSMeal{
    border: var(--lightGrey-color) 2px solid;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.aDSMealLeft{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aDSMealRight{
    border: var(--lightGrey-color) 2px solid;
    background-color: var(--white-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange-color);
    transition: all 0.3s ease;
    border-radius: 0px 0px 0px 10px;
    border-top: none;
    border-right: none;
}

.aDSMealRight:hover{
    background-color: var(--orange-color);
    color: var(--white-color);
    border: var(--black-color) 0.25px solid;
    transform: scale(1.0);
    border-top: none;
    border-right: none;
    cursor: pointer;
}

