:root{
    --orange-color : rgb(235, 152, 0);
    --white-color : rgb(255, 255, 255);
    --lighterGrey-color : rgb(250, 250, 250);
    --lightGrey-color : rgb(237, 237, 237);
    --lightGreyDarker-color : rgb(174, 174, 174);
    --black-color : rgb(0,0,0);
}