#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#layoutWrapper {
  display: flex;
}

#contentSection {
  height: auto;
  width: 100%;
}

#cartSidebar {
  width: 400px;
  min-height: 100%;
  padding: 16px;
  background-color: var(--white-color);
  background: none;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}

#cartSidebar li {
  list-style-type: none;
  margin-bottom: 20px;
}

#cartSidebar h2 {
  text-align: center;
  background: none;
  margin-bottom: 40px;
  margin-top: 20px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartItemBottom {
  display: flex;
  justify-content: space-between;
}

.cartItemAmount {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cartItemAmount button {
  padding: 5px 10px;
  border-radius: 90px;
  border: black 0.1px solid;
  cursor: pointer;
}

.cartItemPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItemDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#buttonBestellen {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

#cartToggleMobile {
  visibility: hidden;
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  margin: 30px;
  position: sticky;
  bottom: 20px;
  z-index: 2000;
  background-color: black;
  color: white;
}

#cartToggleMobile p {
  background: none;
}

#cartModal {
  position: fixed;          
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 50%;
  background-color: var(--white-color);
  border-radius: 30px;
  padding: 30px;
  max-width: 800px;
  min-width: 300px;
  gap: 30px;
}

#informationArea {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cartModalCloseBtn {
  width: 120px;
  padding: 10px;
  border-radius: 30px;
  position: sticky;
  top: 20px;
}

#divDialog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mobileCartCount{
  background-color: black;
}

#cartModalContent{
  margin-top: 30px;
}

@media(max-width: 800px){
  #cartToggleMobile {
    visibility: visible;
  }
}
