#mainMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#divMain{
  display: flex;
}

#sectionMain{
    height: auto;
    width: 100%;
}

#stickyMain{
    width: 400px;
    min-height: 100%;
    padding: 16px;
    background-color: var(--white-color);
    background: none;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;     
    align-self: flex-start;    
}

#stickyMain li{
  list-style-type: none;
  margin-bottom: 20px;
}

#stickyMain h2 {
  text-align: center;
  background: none;
  margin-bottom: 40px;
  margin-top: 20px;
}

.aDSBottom{
  display: flex;
  justify-content: space-between;
}

.aDSMoney{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aDSAmount{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.aDSAmount button{
  padding: 5px 10px;
  border-radius: 90px;
  border: black 0.1px solid;
}

.aDSMoneyTwo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aDSTrash{
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonBestellen{
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
}

#hamburgerMenuMain{
  visibility: hidden;
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  margin: 30px;
  position: sticky;
  bottom: 20px;     
  z-index: 2000;     

}

#dialog{
  top: 30%;
  left: 30%;
  width: 50%;
  height: 50%;
  background-color: var(--white-color);
  border-radius: 30px;
  padding: 30px;
  max-width: 800px;
  gap: 30px;
}

#informationArea{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#dialogClose{
  width: 120px;
  padding: 10px;
  border-radius: 30px;
}

#divDialog{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 800px){
  #hamburgerMenuMain{
    visibility: visible;
  }
}

