#footerMain {
  background-color: var(--white-color);
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;      
  justify-content: center;  
  gap: 20px;   
  border: 2px solid var( --lightGreyDarker-color);             
}

#footerMain nav{
    background: none;
}

#footerMain nav ul {
    display: flex;
    gap: 40px;
    background: none;
}

#footerMain nav ul li{
    list-style: none;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    background-color: var(--orange-color);
    transition: transform 0.2s ease;
}

#footerMain nav ul li:hover{
    transform: scale(1.1);
}

#footerMain nav ul li a{
    background: none;
    color: var(--white-color);
    text-decoration: none;
}