#header {
  background-color: var(--orange-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

#menuToggleHeader {
  height: 40px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

#header .lineHeader {
  background-color: var(--white-color);
  width: 30px;
  height: 5px;
  border-radius: 20px;
}

#header img {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

@media (max-width:800px){
  #menuToggleHeader {
    display: none;
  }
  #cartSidebar {
    display: none !important;
  }
  #header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}