#mainDishSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mainDishImgSection{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    background-image: url(/bestellapp_files/assets/imgs/mainDishMainImg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#mainDishLogo{
    width: 100px;
    height: auto;
    position: relative;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 40px;
}

#evaluationArticle{
    color: var(--orange-color);
    text-decoration: none;
}

#navArticle{
    background-color: var(--lightGrey-color);
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#navArticle button {
    background: none;
    border: 0.5px var(--lightGreyDarker-color) solid;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
}